[Unit]
Description=Harold the bot the amazing automaton of Vikings in Labour

[Service]
WorkingDirectory=/home/lars/git/HaroldTheBot/bin/Debug/net5.0/HaroldTheBot
# systemd will run this executable to start the service
ExecStart=/home/lars/git/HaroldTheBot/bin/Debug/net5.0/HaroldTheBot
# to query logs using journalctl, set a logical name here
SyslogIdentifier=HaroldTheBot

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /home/lars/git/HaroldTheBot/bin/Debug/net5.0/HaroldTheBot' to take ownership of the folder and files,
# Use 'chmod +x /home/lars/git/HaroldTheBot/bin/Debug/net5.0/HaroldTheBot' to allow execution of the executable files
User=lars

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
Environment=DOTNET_ROOT=/home/lars/dotnet

[Install]
WantedBy=multi-user.target